
@import url('https://fonts.googleapis.com/css2?family=Alice&family=Poppins:wght@700&display=swap');

:root {
    --colour1: #faf2e0;
    --colour2: #f08ff0;
    --colour3: #4892e9;
    --colour4: #7a0165;
    --colourlighttext: #ffffff;
    --colourdarktext: black;
    --paragraphfont: "Alice", sans-serif;
    --headingfont: "Poppins", serif;
    
}

body {
    /* box-sizing: border-box; */
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: var(--headingfont);
    font-size: 32px;
}

h2 {
    font-family: var(--headingfont);
}

p {
    font-family: var(--paragraphfont);
    font-size: 18px;
    padding-bottom: 1.5rem;
    line-height:1.5;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--colour3);
}

.logo {
    padding: 1rem;
}

#menu {
    display: none;
    padding-bottom: 1rem;
}
.icon {
    font-size: 24px;
    padding: 1rem;
    color: var(--colour1);

}

nav > ul {
    /* display: flex;
    justify-content: space-between; */
    list-style-type: none;
    background-color: var(--colour3
);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
}

nav > ul > li {
    margin: 0;
    font-family: var(--headingfont);
    padding: 1rem;
    font-size: 24px;
    text-align: center;
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--colour1);
}

nav > ul > li > a:hover {
    color: var(--colour2);
}

.aboutme {
    background-color: var(--colour1);
    padding: 1rem;
    text-align: center;
}

#sarahimage {
 height: 16rem;
}

.aboutme > h1 {
    padding: 0.5rem 0rem 1rem 0rem;
}

.work {
    background-color: var(--colour3);
    padding: 1rem;
    text-align: center;
    color: var(--colourlighttext);
}

.work > h1 {
    padding: 0.5rem 0rem 1rem 0rem;
}

.imagecontainer {
    max-width: inherit;
}

.imagecontainer > img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.contact {
    background-color: var(--colour1);
    padding: 1rem;
    text-align: center;

}

.contact > h1 {
    padding: 0.5rem 0rem 1rem 0rem;
}

.linkedinlogo {
    color: var(--colour3);
    font-size: 2rem;
}

.linkedinlogo:hover {
    color: var(--colour2);
}

section > h1, p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}