
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Prata&display=swap');

:root {
    --colour1: #faf2e0;
    --colour2: #f08ff0;
    --colour3: #4892e9;
    --colour4: #7a0165;
    --colourlighttext: #ffffff;
    --colourdarktext: black;
    --sans-serif: "Open Sans", sans-serif;
    --serif: "Prata", serif;
    
}

body {
    /* box-sizing: border-box; */
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: var(--serif);
    font-size: 32px;
}
p {
    font-family: var(--sans-serif);
    font-size: 16px;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--colour3);
}

.logo {
    padding: 1rem;
}

#menu {
    display: none;
    padding-bottom: 1rem;
}
.icon {
    font-size: 24px;
    padding: 1rem;
    color: var(--colour1);

}

nav > ul {
    /* display: flex;
    justify-content: space-between; */
    list-style-type: none;
    background-color: var(--colour3
);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
}

nav > ul > li {
    margin: 0;
    font-family: var(--sans-serif);
    padding: 1rem;
    font-size: 24px;
    text-align: center;
}

nav > ul > li > a {
    text-decoration: none;
    color: var(--colour1);
}

nav > ul > li > a:hover {
    color: var(--colour2);
}

.aboutme {
    background-color: var(--colour1);
    padding: 1rem;
    text-align: center;
}

#sarahimage {
 height: 16rem;
}

.aboutme > h1 {
    padding: 0.5rem 0rem 1rem 0rem;
}

.work {
    background-color: var(--colour3);
    padding: 1rem;
    text-align: center;
    color: var(--colourlighttext);
}

.work > h1 {
    padding: 0.5rem 0rem 1rem 0rem;
}

.contact {
    background-color: var(--colour1);
    padding: 1rem;
    text-align: center;

}

.contact > h1 {
    padding: 0.5rem 0rem 1rem 0rem;
}

section > h1, p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}